

manifest {
    description = "Workflow to create pseudomolecules out of a FASTA file and save to a BSML document"
    mainScript = "prokpipe_pseudomolecules.nf"
    name = "ProkPipe Pseudomolecules"
    version = "0.1"
}

params {
    fasta_file = "/home/sadkins/testfiles/test_seq.fasta"
    fasta_list = '/home/sadkins/testfiles/bsml2fasta.test.list'
    accession_input = "/home/sadkins/testfiles/ref_list.txt"

    bin_dir = "/local/projects/ergatis/package-latest/bin"
}

// Invoked when workflow execution is completed
workflow.onComplete {
    println "Pipeline completed at: $workflow.complete"
    println "Execution status: ${ workflow.success ? 'OK' : 'failed' }"
}

// Invoked when runtime or process error causes execution to stop
workflow.onError {
    println "Oops... Pipeline execution stopped with the following message: ${workflow.errorMessage}"
}