

manifest {
    description = "Workflow to create pseudomolecules out of a FASTA file and save to a BSML document"
    mainScript = "prokpipe_pseudomolecules.nf"
    name = "ProkPipe Pseudomolecules"
    version = "0.1"
}

// Invoked when workflow execution is completed
workflow.onComplete {
    println "Pipeline completed at: $workflow.complete"
    println "Execution status: ${ workflow.success ? 'OK' : 'failed' }"
}

// Invoked when runtime or process error causes execution to stop
workflow.onError {
    println "Oops... Pipeline execution stopped with the following message: ${workflow.errorMessage}"
}